@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } 
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#galleryPortal {
  /* overflow: hidden;
  overflow: none; */
  /* position: fixed; */
}

section#mainGall {
  background: url("/public/galleryBack3.png");
  display: block;
  min-height: 100%;

}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 50;
  display: none;
}
.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: 220px;
  z-index: 50;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  text-align: center;
  border-radius: 50%;

}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(0);
}



.insta img {
width: 100%;
}
#nav {
  width: 90vw;
}
#slideOut {
  transition-timing-function: ease-out;
  transition-duration: .10s;
  box-sizing:border-box;
}
.insta {
  float: right;
}
#footerDiv {
  display: flex;
  justify-content: space-between;
}
#gatDivDiv{
  width: 100%; 
  max-width: 400px;
  min-width: 400px;
}
#gateDiv {
  width: calc(50% - 400px); 
  /* max-width: 800px; */
  height: calc(100% - 300px); 
  background-color: red;
  position: absolute;
  left: 14%;
  bottom: 15%;
  z-index: 50;
}

/* submit button */
.btn {
  background: #c1c3d6;
  border: none;
  color: white;
  padding: .35rem 2rem;
  position: relative;
  cursor: pointer;
  border-radius: 2px;
}
.border-animation::before,
.border-animation::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 12px;
  border: 0px solid transparent;
}
.border-animation::before {
  top: -4px;
  left: -4px;
  border-top: 2px solid #c1c3d6;
  border-left: 2px solid #c1c3d6;
}
.border-animation::after {
  bottom: -4px;
  right: -4px;
  border-bottom: 2px solid #c1c3d6;
  border-right: 2px solid #c1c3d6;
}
.border-animation:hover::before,
.border-animation:hover::after {
  width: calc(100% + 6px);
  height: calc(100% + 6px);
}
.btn-animation {
  border: 2px solid #c1c3d6;
  outline: 2px solid #fff;
  transition: outline-offset 200ms ease;
}
.btn-animation:hover {
  outline: 2px solid #fff;
  outline-offset: -6px;
}
/* submit button ends */